{
	"useTabs": false,
	"tabWidth": 4,
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 100,
	"svelteSortOrder": "options-styles-scripts-markup",
	"svelteStrictMode": true,
	"svelteBracketNewLine": false,
	"svelteAllowShorthand": false,
	"svelteIndentScriptAndStyle": false
}